---
import ContainerHover from "@components/ContainerHover.astro";
---

<section class="my-10">
  <h2 class="text-2xl font-semibold mb-1">About Me</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    Hi, I'm Benjamin, a student and software engineer. You can contact me at <a
      href="mailto:b.gluck132@gmail.com"
      class="text-zinc-100 font-medium">b.gluck132@gmail.com.</a
    >
  </p>

  <section class="my-10">
    <h2 class="text-2xl font-semibold mb-1">Experience</h2>
    <hr class="mb-4 border-zinc-600" />
    <div class="leading-6 text-lg text-pretty mb-3 text-zinc-400">
      <ul class="list-disc pl-6">
        <li>
          <span class="font-bold text-zinc-300">Lighthouse Avionics</span> - Software
          Engineering Intern
        </li>
        <li>
          <span class="font-bold text-zinc-300">RenaissanceTech</span> - Software
          Engineering Intern
        </li>
        <li>
          <span class="font-bold text-zinc-300">Netsteady</span> - Web Development
          Intern
        </li>
        <li>
          <span class="font-bold text-zinc-300">OSA Technology Partners</span>
          - Solutions Intern
        </li>
        <li>
          <span class="font-bold text-zinc-300">Ohio State University</span> - Computer
          Science & Engineering Major
        </li>
      </ul>
    </div>
  </section>

  <section class="my-10">
    <h2 class="text-2xl font-semibold mb-1">Interests</h2>
    <hr class="mb-4 border-zinc-600" />
    <div class="leading-6 text-lg text-pretty mb-3 text-zinc-400">
      <ul class="list-disc pl-6">
        <li>Backend Engineering</li>
        <li>Database Design</li>
        <li>Functional Programming</li>
      </ul>
    </div>
  </section>
</section>
